<%- include('header'); -%>
  <div id="login">
    <div class="inner">
      <h2 class="c-ttl">Login</h2>
      <% if (messages.error) { %>
        <%= messages.error %>
          <% } %>
            <div class="c_form">
              <form action="/account/login" method="POST">
                <dl>
                  <dt><label for="email">Email</label></dt>
                  <dd><input type="email" id="email" name="email" required></dd>
                </dl>
                <dl>
                  <dt><label for="password">Password</label></dt>
                  <dd><input type="password" id="password" name="password" required></dd>
                </dl>
                <button type="submit">Login</button>
              </form>
            </div>
            <div class="btn01"><a href="./register">Register</a></div>
    </div>
  </div>

  <%- include('footer'); -%>