<%- include('header'); -%>
  <div id="personal">
    <div class="inner">
      <div class="personal_cont">
        <h2 class="c-ttl">
          wellcome <%= name %>
        </h2>
      </div>
    </div>
  </div>
  <%- include('footer'); -%>