<%- include('header'); -%>
  <div id="register">
    <div class="inner">
      <h2 class="c-ttl">Register</h2>
      <div class="c_form">
        <form action="./register" method="POST">
          <dl>
            <dt><label for="name">Name</label></dt>
            <dd><input type="text" id="name" name="name" required></dd>
          </dl>
          <dl>
            <dt><label for="email">Email</label></dt>
            <dd><input type="email" id="email" name="email" required></dd>
          </dl>
          <dl>
            <dt><label for="password">Password</label></dt>
            <dd><input type="password" id="password" name="password" required></dd>
          </dl>
          <button type="submit">Register</button>
        </form>
      </div>
      <div class="btn01"><a href="./login">Login</a></div>
    </div>
  </div>
  <%- include('footer'); -%>